/* font import*/
@import url("https://use.typekit.net/mcg1oxk.css");
/* @import url("https://use.typekit.net/mcg1oxk.css"); */

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}




/*********************/
/* custom properties */
/*********************/
:root {
  /* kleuren */
  --primaryColor: #d75745;
  --titleColor: #999;
  --textColor: #242424;
  --textColorLight: #666666;
  --textColorDark: #333;
  --textNav: #777;
  --contrastBackgroundColor: #f5f5f5;
  --socialBtn: #ccc;
  --facebook: #2780e3;
  --twitter: #1DA1F2;
  --youtube: #FF0000;
  --pinterest: #E60023;
  --instagram: #458eff;
  --white: #fff;
  --black: #000;

  /* fonts */
  --primaryFont: 'Merriweather', serif;
  --secondaryFont: 'Raleway', sans-serif;
}





/*********************/
/* Generieke stijlen */
/*********************/
body {
  font-family: var(--primaryFont);
  color: var(--textColor), serif;
  font-size: 1.25rem;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primaryColor);
}





/**********/
/* header */
/**********/
header {
  margin-top: 1em;
  width: 100%;
  position: relative;
}

/* Logo */
header img {
  position: absolute;
  right: .25em;
  width: 15%;
  z-index: 1;
  max-width: 10em;
}





/*************/
/* navigatie */
/*************/
header nav {
  background: var(--textColor);

  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  max-width: 25em;
  z-index: 2;

  transform: translateX(-100%);
  transition: .3s;
}

header nav div {
  height: 100vh;

  overflow: scroll;
  margin-top: 2.5em;
  margin-left: 2em;
  overscroll-behavior: contain;
}





/*************/
/* hamburger */
/*************/
header nav>section {
  margin: 0;
  position: absolute;
  left: 100%;
  top: 1em;

  background: var(--primaryColor);
  width: 3.75em;
  height: 3.75em;
}

header nav>section:hover,
header nav>section:focus {
  background: var(--black);
}

header>nav section p {
  color: var(--white);
  font-size: 2rem;
  line-height: 1.7em;
  text-align: center;
}

header nav>section p::before{
  content: "☰";
  line-height: 2.25em;
}

/* wanneer hamburger menu wordt getoont */
.toonMenu header nav {
  transform: translateX(0%);
  transition: .3s;
}

.toonMenu header nav>section {
  left: calc(100% - 3.75em);
  top: 0;

  background: var(--black);
}

.toonMenu header nav>section p::before {
  content: "×";
}




/********************************/
/* Styling elementen binnen nav */
/********************************/
header nav div section {
  margin-bottom: 2rem;
}





/************/
/* Language */
/************/
header nav section button {
  font-family: var(--primaryFont);
  font-size: .9rem;
  font-weight: 100;

  color: var(--white);
  background: var(--primaryColor);
  border: none;
  border-radius: 2em;
  padding: .5em 1em;
}

header nav section button::after{
  content:"▼";
  font-size: .5em;
  margin-left: .5em;
}





/************/
/* Zoekbalk */
/************/
form {
  position: relative;
  width: 14.75em;
}

input[type="search"] {
  appearance: none;
  width: 100%;
  height: 1.18em;
  padding: 1.125em 0.5em;

  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: 20em;

  font-weight: 400;
  font-size: 0.850em;
  color: var(--titleColor);
  font-style: italic;
  line-height: 1.5em;
}

/* vergrootglas */
input[type="submit"] {
  width: 2.25em;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  appearance: none;
  background: var(--black);
  border: none;
  border-radius: 50%;

  font-size: 0.850em;
  line-height: 1em;
  color: var(--titleColor);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primaryColor);
}






/*************/
/* nav links */
/*************/
header nav div ul li{
  margin: .5rem 0;
}

header nav div h2 a {
  color: var(--primaryColor);
  font-family: var(--secondaryFont);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
}

header nav a {
  padding: .5rem;
  color: var(--textNav);
  font-size: .938rem;
  text-decoration: none;
}

header nav a:hover,
header nav a:focus {
  color: var(--white);
}





/**********/
/* footer */
/**********/





/**********/
/* slogan */
/**********/
footer>section:nth-of-type(1) {
  padding: 3.125em 0;
}

footer>section:nth-of-type(1) h2 {
  color: var(--primaryColor);
  font-size: 0.825rem;
  font-weight: 300;
  margin: 0 1.17em;
}





/**************/
/* footer nav */
/**************/
footer nav {
  background: var(--contrastBackgroundColor);
  padding: 0 1.25em;
}

footer nav:first-of-type {
  padding-top: 5em;

  display: flex;
  flex-wrap: wrap;
}

footer nav h2 {
  font-family: var(--secondaryFont);
  color: var(--textColorLight);
  font-size: 1.250em;
  letter-spacing: .05em;
  font-weight: 600;

  margin-bottom: 0.9375em;
}

footer nav>section {
  width: 100%;
  margin-bottom: 1.75em;
}

footer nav ul li {
  margin: 1rem 0;
}

footer nav a {
  font-size: 1rem;
  color: var(--primaryColor);
  text-decoration: none;
}

/* Bron: les van Sanne! */
footer nav section:nth-of-type(1) a,
footer nav section:nth-of-type(2) a,
footer nav section:nth-of-type(3) a,
footer section:nth-of-type(2) a {
  position: relative;
}

footer nav section:nth-of-type(1) a::after,
footer nav section:nth-of-type(2) a::after,
footer nav section:nth-of-type(3) a::after,
footer section:nth-of-type(2) a::after {
  content: "";
  background: var(--textNav);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;

  transform: scaleX(0);
  transform-origin: left center;
  transition: .3s;
}

footer nav section:nth-of-type(1) a:hover::after,
footer nav section:nth-of-type(2) a:hover::after,
footer nav section:nth-of-type(3) a:hover::after,
footer section:nth-of-type(2) a:hover::after {
  transform: scaleX(1);
  transform-origin: right center;
  transition: .3s;
}

footer>section:nth-of-type(2) {
  background: var(--contrastBackgroundColor);
  padding: 3.4em 1.25em 5em;
}

footer>section:nth-of-type(2) p {
  font-size: 1rem;
  color: var(--titleColor);

  margin-bottom: .65rem;
  padding: .75rem;
}

footer>section:nth-of-type(2) a {
  font-size: 1rem;
  color: var(--primaryColor);
  text-decoration: none;

  margin-bottom: .65rem;
}





/***********/
/* socials */
/***********/
footer nav:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer nav:last-of-type ul {
  width: 100%;
  max-width: 25em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer nav:last-of-type ul li a {
  border-radius: 25em;
  background: var(--socialBtn);
  padding: 1.125rem;
}


footer nav:last-of-type ul li:nth-of-type(1) a:hover,
footer nav:last-of-type ul li:nth-of-type(1) a:focus {
  background: var(--facebook);
}

footer nav:last-of-type ul li:nth-of-type(2) a:hover,
footer nav:last-of-type ul li:nth-of-type(2) a:focus   {
  background: var(--twitter);
}

footer nav:last-of-type ul li:nth-of-type(3) a:hover,
footer nav:last-of-type ul li:nth-of-type(3) a:focus  {
  background: var(--youtube);
}

footer nav:last-of-type ul li:nth-of-type(4) a:hover,
footer nav:last-of-type ul li:nth-of-type(4) a:focus  {
  background: var(--pinterest);
}

footer nav:last-of-type ul li:nth-of-type(5) a:hover,
footer nav:last-of-type ul li:nth-of-type(5) a:focus  {
  background: var(--instagram);
}




/*****************/
/* media queries */
/*****************/
@media (min-width: 40em) {
  /*************/
  /* Hamburger */
  /*************/
  .toonMenu header nav>section {
    left: 100%;
    top: 1em;

    background: var(--primaryColor);
  }
}

@media (min-width: 50em) {
/**********/
/* Header */
/**********/
  header nav {
    max-width: 20em;
  }





/**********/
/* footer */
/**********/
  footer>section:nth-of-type(1) h2 {
    text-align: center;
  }

  footer nav h2 {
    text-align: center;
  }

  footer nav ul li {
    text-align: center;
  }

  footer nav:last-of-type {
    align-items: center;
  }

  footer>section:nth-of-type(2) p {
    text-align: center;
  }

  footer nav:last-of-type ul {
    width: 40%;
  }
}

@media (min-width: 60em) {
  /**********/
  /* header */
  /**********/
  header nav>section {
    width: 5em;
    height: 5em;
  }

  header nav>section p::before{
    line-height: 3em;
  }



  /**********/
  /* footer */
  /**********/
  footer>section:nth-of-type(1) h2 {
    font-size: 2.5rem;
  }

  footer nav {
    justify-content: space-around;
  }

  footer nav>section {
    width: 30%;
  }

  footer>section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer nav:last-of-type ul {
    width: 50%;
  }
}